body{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

#guess-board {
  width: 398px;
  height: 498px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 10px;
  grid-gap: 10px;
  /* box-sizing: border-box; */
}
#guess-row-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
div#guess-row {
  height: auto;
  display: block;
  border: 2px solid white;
  text-align: center;
}

#keyboard-rows{
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

#keys{
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}